[tool.poetry]
name = "mtt"
version = "0.1.0"
description = "Multi target tracking."
authors = ["Damian Owerko <damowerko@gmail.com>"]
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.9,<3.11"
numpy = "^1.22.1"
pandas = "<1.2"
matplotlib = "^3.6.2"
seaborn = "^0.12.1"
imageio = "^2.22.4"
pytorch-lightning = "^1.7.5"
torch = "^1.13.0"
torchdata = "^0.5.0"
scikit-learn = "^1.2.0"
av = "^9.2.0"
imageio-ffmpeg = "^0.4.7"
stonesoup = "^0.1b11"
scipy = "^1.10.0"

[tool.poetry.group.dev.dependencies]
black = "^22.8.0"
jupyter = "^1.0.0"
ipympl = "^0.8.7"
guildai = "^0.8.1"
pytest = "^7.2.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"