name: Build and Push Docker Image

on:
  push:
    branches:
      - main  # Trigger the workflow on push to main branch

concurrency:
  group: build-and-push
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1

    - name: Login to DockerHub
      uses: docker/login-action@v1 
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build and push
      uses: docker/build-push-action@v2
      with:
        context: .
        file: Dockerfile
        push: true
        tags: damowerko/mtt:latest
        cache-from: type=registry,ref=damowerko/mtt:cache
        cache-to: type=registry,ref=damowerko/mtt:cache
